<html>
<head>
  <style>
  .ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
  * html .ui-autocomplete {
    height: 100px;
  }
  </style>
</head>
<body>
<script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='jquery.ui.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui.css') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='testTags.js') }}"></script>
<!-- <script type=text/javascript src="{{ url_for('static', filename='units.js') }}"></script> -->
<script type=text/javascript src="{{ url_for('static', filename='d3.min.js') }}"></script>

<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type=text/javascript>

  $(function() {
    var availableTags = testTags
    // $( 'input[name="a"]' ).autocomplete({
    //   source: availableTags
    // });
    $('a#addIngredient').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/add', {
        amount: $('input[name="amount"]').val(),
        unit: $('input[name="unit"]').val(),
        ingredient: $('input[name="ingredient"]').val()
      }, function(data) {
        // var oldText = $("#ingredient-list").text();
        d3.select("#ingredient-list")
        .append('li')
        .text(data.result)
      });
      return false;
    });
  });
</script>
<h1>Add a new recipe</h1>
<div id = "ingredients">
   <input type=text name="amount"></input>
   <input type=text name="unit"></input>
   <input type=text name="ingredient"></input>

<!--    <input type=text size=5 name=a> +
   <input type=text size=5 name=b> = -->
</div>
   <a href=# id="addIngredient">Add ingredient</a>

   <ul id="ingredient-list"></ul>


</html>
</body>